.characters-page
{ 
    .character-controls
    { 
        text-align: center;
        vertical-align:  central;
        .control-text
        {
            padding-top: 1rem;
            display: inline-table;
        }
         
         
        height: 4.5rem;
        .control-box
        {
            //height: 2.5rem;
            padding: 1rem;
            color: $comic-off-white;
            background-color:  $comic-book-blue;
            font-size: 2rem;
            border-radius: 15%;
            cursor: pointer;
            
        }
        .control-left
        {
            float: left;
            margin-left: 2rem;
            
        }
        .control-right
        {
            float: right;
            margin-right: 2rem;
            
        }
    }

    .flex-container
    {

        align-items: center;  
        justify-content: center;
        width:100%;
        display: flex;

        flex-direction: column;
        @include forLargeScreens(640) {


            position:relative;
            flex-flow: row wrap;

        }
        .box-item
        {

            color: $comic-off-white;
            background-color:  $comic-book-blue;
            text-align:center;
            padding: 1%;
            margin-top: 1%;
            width:100%;


            @include forLargeScreens(640) {


                margin : 1%;
                max-width: 22%;

            }


        }
    }


}