

.body-container
{
    width: 100%;
    height:100%;
    overflow: hidden;


    .main-container {
        // @include animation-nav-icon;

        border-left: thin solid black;

        height: 100%;

        left: 0px;
        position:relative;

        header,footer
        {

            z-index: 70;
            background-color: $comic-book-blue;
            color: $comic-off-white;
        }


        header 
        {
            height: 11%;
            margin: 0;

            max-height: 11%;
            min-height: 11%;
            // postition:relative;
            @include forLargeScreens(640) {

                display:flex;
                align-content: center;
                max-height: 10%;
                min-height: 10%;
                height: 10%;
            }

            .header-item
            {
                @include forLargeScreens(640) {

                    // display:flex;
                    margin: auto  0;
                }
            }

            nav
            { 

                display: inline;
                overflow:hidden;

                @include forLargeScreens(640) {
                    flex-grow: 1;
                    // border: thin solid green;
                }

                .menu {

                    margin: 0;

                    padding: 0;
                    position: fixed;
                    @include forLargeScreens(640) {

                        flex-grow: 3; 
                    }
                    font-size: 1.4rem;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0; 
                    z-index: -100;

                    list-style: none;
                    @include forLargeScreens(640) {


                        // height: 20%;
                        z-index:  100;
                        display: inline;
                        border: none;
                        // background-color:   $comic-book-blue ;
                        // background-color:  red;
                        position: inherit;


                    }
                    //List items
                    li {
                        // width: 210px;
                        text-align: left;
                        background-color: $comic-book-blue;
                        border-bottom: 1px solid $comic-off-white;


                        @include forLargeScreens(640) {
                            display: inline;

                        }
                        //Links themselves
                        a {
                            display: block;
                            padding: 4rem .75rem;
                            @include forLargeScreens(650) {
                                float: inherit;
                                padding:  .5rem 1.25rem;
                            }
                            @include forLargeScreens(700) {
                                float: inherit;
                                padding:  .5rem 2rem;
                            }
                            font-size: ms(2);
                            color: $comic-off-white;
                            text-decoration: none;
                            &:hover
                                {

                                background-color: $orange-highlight;

                            }
                            @include forLargeScreens(640) {
                                display: inline-block;
                                // height: 100%;
                                font-size: ms(1);
                                // padding:   2%;
                                background-color:$comic-book-blue; 
                                color:  $comic-off-white   ;    



                            }
                            @include forLargeScreens(800) {

                                font-size: ms(2.2);

                            }
                        }
                    }
                }
            }




            .header-title
            {

                margin-right: 2rem;
                text-align: right;
                float: right;
                margin-top: -1rem;
                @include forLargeHeight(500) {

                    margin-top:0rem;

                }
               font-size: ms(4);

            }

            #view-report
            {


                font-size: ms(1);
                color: blue;
                margin-left: 10rem;

               display:none;
                #view-portrait
                { 
                    @media (orientation: landscape) {
                        display: none
                    }
                    @media (orientation: portrait) {
                        display: block
                    }
                }
                #view-landscape
                { 
                    @media (orientation: landscape) {
                        display: block
                    }
                    @media (orientation: portrait) {
                        display: none
                    }
                } 
            }

        }

        .main-content
        {
            height: 85%;
            width:100%;
            position:relative;
            background-color: white;
            border-left: thin solid black;
            font-size: 1.4rem;
            padding: 2rem;
            left: -0.1rem;
            // background-size: cover;
            // background-repeat: no-repeat;
            background: url('../../css/imgs/bpencil.png')   center center fixed   ; 
            //-webkit-background-size: cover;
            // -moz-background-size: cover;
            //-o-background-size: cover;

            background-size: cover;
            background-color: white;
            overflow-x: hidden;
            overflow-y: auto;
            @include forLargeScreens(640) {

            }

            &.no-scroll
            {
                overflow-y:hidden;
            }


        }


        footer
        {
            height: 5%;
            display:flex;
            align-content: center;
            justify-content: center;
            max-height: 5%;
            min-height:5%;
            // padding: 1rem;
            font-size: ms(0);
            text-align: center;
            .item-banner
            {
                // padding-top: 0.5rem;
                margin: auto 0;
                a {
                    text-decoration: none;
                    color: $comic-off-white;
                }

            }



        }
    }
    .label-trigger {

        @include forLargeScreens(640) {
            display: none;

        }



        position: fixed;
        left: 1rem;
        top: 0.5rem;
        z-index: 20;
        height: 5rem;
        width: 5rem;
        cursor: pointer;
        background: $comic-off-white;
        //border-radius: 2px;
        //border: 1px solid #ccc;
        //Hamburger icon 
        &:before {
            display: block;
            padding-top: 2.5rem;
            text-align: center;
            content: '≡';
            font-size: 3rem;
            line-height: 0;
        }
        //Active hamburger icon
        &.active {
            background: $orange-highlight;
            color: #fff;
        }
        //Hide the term 'Menu' from displaying without sacrificing accessibility
        span {
            display: inline-block;
            text-indent: -100%;
            overflow: hidden;
            white-space: nowrap;
        }
    }

}