.waitIndicator
{
    background:  url('../../css/imgs/spiffygif_96x96.gif') 50% 50% no-repeat;
    background-color: rgba(0,0,0,.5);
    width:100%;
    height:100%;
    position:absolute;
    top:0%;
    left:0%;
    z-index:999;

}

