.character-detail
{
    position: absolute;
    color: $comic-off-white;
    background-color: rgba(0,0,0,.5);
    //padding: 3rem;
    width:100%;
    min-width: 100%;
    max-width: 100%;
    height: 100%;
    min-height: 100%;
    top:0;
    left:0;
     

    .return-button
    {
        font-size: 4rem;
        margin: 1.5rem;
        cursor: pointer;

    }

    .title-area
    {
        min-height: 9rem;
        height: 9rem;
        max-height: 9rem;
        width: 100%;
        border-bottom: .5rem double $comic-off-white;
        padding: 0.5rem;
        background-color: black;

        @include forLargeScreens(640) {
            padding: 1rem;

        }

        img
        {

            margin-left: 2rem;
            vertical-align: middle;
        }
        .character-name
        {

            margin-left: 2rem;
            font-size: 2.5rem;
        }
        //margin-top:  .5rem;
        // margin-bottom: 1.5rem;
        vertical-align: middle;
    }

    .comic-scroll-container
    { 
       //overflow-x: hidden;
       // overflow-y: scroll;
        
        .comic-display
        {
            
            .no-data
            {
                margin-top: 10rem;
                font-size: 5rem;
                
            }
            

            align-items: center;  
            justify-content: center;
            width:100%;
            //margin-top: .5rem;

            display: flex;


            flex-direction: column;
            @include forLargeScreens(640) {


                position:relative;
                flex-flow: row wrap;

            }

        }
    }

}


