.character-panel
{

    color: $comic-off-white;
    background-color:  $comic-book-blue;
    text-align:center;
    padding: 1%;
    margin-top: 4%;
    // height: 30%;
    width:75%;
  //  height: 75%;
    min-height: 75%;

    @include forLargeScreens(640) {


        margin : 1%;
        max-width: 44%;
      
    }
    @include forLargeScreens(768) {


        margin : 1%;
        max-width: 30%;

    }

    @include forLargeScreens(1024) {


        margin : 1%;
        max-width: 22%;

    }

    .character-block
    { 

        padding: 2%;
        height: 85%;
        margin-top: 5%;
        margin-bottom: 5%;
        //  border: thin solid $comic-dark-blue;
        .image-item
        {

        }

        .character-link-block
        {

            margin-top: 5%;

            // float: right;
            // width: 33%;

            text-align: left;
            li
            {
                margin-top:  6%;
                padding: 3%;
                margin-bottom:  6%;
                background-color: $comic-dark-blue;
                text-align: center;
                &:hover
                    {
                    background-color: $orange-highlight
                }
            }
            li a.character-link 
            {
                text-decoration: none;
                color: $comic-off-white;

            }

        }
        .image-item 
        {
            display: inline;
            //  float: left;
            text-align:center;
            cursor: pointer;

        }
    }
    .character-name
    {
        margin-bottom: 1rem;
        background-color: $comic-dark-blue;
        color: $comic-off-white;
        cursor: pointer;
    }
}


