.character-panel
{

    color: $comic-off-white;
    background-color:  $comic-book-blue;
    text-align:center;
    padding: 1%;
    margin-top: 4%;
     
    width:75%;
    
    //landscape
    height: auto;
    min-height:auto;
    @include forLargeHeight(700) {

        height: 75%;
        min-height:75%;
        
      
    }
    
    .link-action 
    {
        margin-top: 1.5rem;
    }
    

    @include forLargeScreens(640) {


        margin : 1%;
        max-width: 44%;
      
    }
    @include forLargeScreens(760) {


        margin : 1%;
        max-width: 30%;

    }

    @include forLargeScreens(1022) {


        margin : 1%;
        max-width: 22%;

    }

    .character-block
    { 

        padding: 2%;
      //  height: 85%;
        margin-top: 5%;
        margin-bottom: 5%;
        //  border: thin solid $comic-dark-blue;
        

        .character-link-block
        {

            margin-top: 5%;

            // float: right;
            // width: 33%;

            text-align: left;
            li
            {
                margin-top:  6%;
                padding: 3%;
                margin-bottom:  6%;
                background-color: $comic-dark-blue;
                text-align: center;
                &:hover
                    {
                    background-color: $orange-highlight
                }
            }
            li a.character-link 
            {
                text-decoration: none;
                color: $comic-off-white;

            }

        }
        .image-item 
        {
            display: inline;
            //  float: left;
            text-align:center;
            cursor: pointer;
            &.no-pointer
            {
                cursor:default;
            }

        }
    }
    .character-name
    {
        margin-bottom: 1rem;
        background-color: $comic-dark-blue;
        color: $comic-off-white;
        cursor: pointer;
    }
}


