.characters-page
{ 
    font-size: ms(1);
    .character-controls
    { 
        text-align: center;
        vertical-align:  central;
        .control-text
        {
            // padding-top: 4%;
            // display: inline-table;
            //  border: thin solid green;
            position: absolute;
            left: 50%;
            top:1%;
            width: 50rem;
            height: 2rem;
            margin: -1rem 0 0 -25rem;  

        }


        //height: 5%;
        position: relative;
        //  border: thin solid red;
        .control-box
        {
            //height: 2.5rem;
            padding: .55rem;
            color: $comic-off-white;
            background-color:  $comic-book-blue;
            font-size: 2.5rem;
            border-radius: 15%;
            cursor: pointer;
            display: inline-table;

        }
        .control-left
        {
            float: left;
            margin-left: 1rem;

        }
        .control-right
        {
            float: right;
            margin-right: 1rem;

        }
    }

    .flex-container
    {

        align-items: center;  
        justify-content: center;
        width:100%;
        display: flex;

        flex-direction: column;
        @include forLargeScreens(640) {


            position:relative;
            flex-flow: row wrap;

        }

    }


}