.image-modal
{ 



    .modal-bkgMask
    { 
        background-color: rgba(0,0,0,0.7);
        //opacity: 0.7;
        width:100%;
        height:100%;
        position:absolute;

        top:0%;
        left:0%;
        z-index:5;

        &.modal-hidden
        {
            display: none;
        }
    }

    .modal {




        position: relative;
        overflow:auto;
        z-index: 10;
        top: .5rem;
        left: 0;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        width:75%;
       // height: 80%;
        margin: 0 auto;
        
         @include forLargeScreens(900) {
                   
                    height:95%;
                    width:50%;
                }

        align-content: center;
        // right: 0;
        //    margin: auto;
        color: $comic-off-white;
        background: black;
        border: thin solid $comic-off-white;
        // height: 90rem; 
        padding: 1rem;
        // overflow:hidden;
        // font-family: graphikregularitalic, arial, sans-serif;



        .modal-anim-enter {
            opacity: 0.00;
            transform: scale(0.7);
            transition: all 0.2s;
        }
        .modalContent
        {


        }
        .modalHeader
        {
            background-color: black;
            color: white;
            display:block;
            height: auto;

            .btnClose
            {
                border: 1px solid white;
                float: right;
                 padding:  1rem;
                margin-bottom: 1rem;
                cursor: pointer;
                font-size:2rem;


                &:hover
                    {

                    background-color: $comic-book-blue;

                }

            }
        }

        .modal-anim-enter.modal-anim-enter-active {
            opacity: 1;
            transform: scale(1);
        }

        .modal-anim-leave {
            opacity: 1;
            transform: scale(1);
            transition: all 0.2s;
        }

        .modal-anim-leave.modal-anim-leave-active {
            opacity: 0.00;
            transform: scale(0.7);
        }


        .big-image
        {
            text-align: center;
             
            // overflow:auto;
            //height: 70rem;

            img
            {
                 width:auto;
                 height:90%;
                @include forLargeScreens(900) {
                   
                    height:80%;
                }
            }
        }


    }
} 

