.character-scroller
{
    width: 33%;
    height:100%;
    
    background: $comic-off-white;
    float: left;
    .loader-area
    {
        height: 5rem;
        border: thin solid $comic-dark-blue;
        text-align: center;
        padding-top: 1rem;
        img
        {
            
            max-width: 95%;
        }
    }
    .scroller-container
    {
        border: thin solid $comic-dark-blue;
        position: relative;

        .infinite-scroll
        {
            height: 85%;
            width:99%;
            overflow-y: auto;
            overflow-x:hidden;

        }

        .scroll-item
        {
            
          
            
            background-color:$comic-dark-blue;
            cursor: pointer;
            width:100%;
            display:flex;
            flex-direction: column;
            flex-wrap:wrap;
            margin: 1rem;
            padding: 1rem;
            color: $comic-off-white;

            &.highlight
            {
               color: $orange-highlight;
               img
               {
                   border: 2px solid $orange-highlight;
               }
            }
            
            img
            { 
              //   vertical-align: top;
              max-width:95%;
              
            }
            .character-name
            {
              padding-bottom: 5%;
              border-bottom: $comic-off-white;
            }
            .character-image
            {
                 
            }
            .flex-item
            {
                display:block;
                width:100%;
                
                text-align: center;
                
            }
        }


    }


}



