.story-display
{
    
     
    float: right;
    border: thin solid $comic-dark-blue;
    position: relative;
    width: 65%;
    height: 100%;
    padding: 2%;
    overflow:auto;
    background: $comic-off-white;
    
}
