<html>
    <head>
        <title><%= title %></title>
<script src="js/libs/jquery/dist/jquery.js" type="text/javascript"></script> 
 
 </head>
    <body>
    Main page 
         
    <div id='reactContainer'></div>
    
 <script src="built/js/bundle.js" type="text/javascript"></script> 
    </body>
</html>
