<html>
    <head>
        <title><%= title %></title>

 
 </head>
    <body>
    Main page 
         
<script src="js/libs/jquery/dist/jquery.js " type="text/javascript"></script>  
    
 
    </body>
</html>
